body
{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: black;
    margin-top: 20%;
    padding: 0px;
}
a
{
    display: inline-block;
    padding: 10px 50px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
    text-align: center;
    margin: 20px;
    justify-content: center;
}
a:hover
{
    color: #0000b3;
    background: #66ff66;
}
.book{
    justify-content: center;
    background-color: green;
    width: 280px;
    height:relative;
    margin: 0px;
    padding:0px;
    border-radius: 10px;
}